# Ignore Gradle project-specific cache directory
.gradle

# Ignore gradle properties file with proxy configuration
gradle.properties

# Ignore Gradle build output directory
build

# Ignore prebuild jar files
jar

