.list-view {
  -fx-background-insets: 0;
  -fx-padding: 0;
}
.list-view .list-cell {
  -fx-background-color: white;
  -fx-padding : 0 2em 0 0;

}
.label {
  -fx-padding : 0 2em 0 2em;
}
.message-vbox {
  -fx-background-color: white;
}
